.form-input {
    padding: 20px 30px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #c6cbcd;
    line-height: 21px;
    background: #ffffff;
    border: 1px solid #c6cbcd;
  }
  
  
 