.images-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
  &__item {
    --aspect-ratio:calc(100% / 3 - 2px);
    width: var(--aspect-ratio);
    position: relative;
    padding-bottom:var(--aspect-ratio);
    overflow: hidden;
  }
 &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%; 
   object-fit: cover;
    transform: translate(-50%, -50%);
  }
}