.news-card {
  display: flex;
  &__img-link {
    width: 35%;
  }
  &__content {
    padding-left: 30px;
  }
  &__link {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #2d3033;
    text-decoration: none;
  }

  &__date {
    font-weight: 400;
    font-size: 13px;
  }
}
