
.review-slider{
    position: relative;
    padding: 0 42px;
}

.review-slider__arrow{
    display: flex;
    position:absolute;
  
    justify-content: center;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    align-items: center;
    transform: translateY (-50%);
    top:50%;
    z-index: 1;

}

.review-slider__arrow:first-child{
    left: 0;
    transform: translateY (-50%) rotate(180deg);
}
.review-slider__arrow:last-child{
    right: 0;
    transform: translate(-50%);
}
.review-slider__slide{
    max-width: 1000px;
    margin: 0 auto;
}