.section-head {
  text-align: center;
  color: var(--black);
  &::after {
    content: "";
    display: block;
    width: 170px;
    background: var(--accent);
    height: 4px;
    margin: 30px auto 0;

    @include breakpoint(xl) {
      width: 148px;
    }

    @include breakpoint(md) {
      width: 144px;
    }
  }

  &__subtitle {
    font-family: "Kaushan Script";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;

    @include breakpoint(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;

    @include breakpoint(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  &__text {
    margin-top: 30px;
    margin-bottom: 58px;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    @include breakpoint(xl) {
    font-size: 14px  ;
    }
    @include breakpoint(md) {
    font-size: 16px;
    }
  }
}
