.about-us {
  padding-top: 42px;
  padding-bottom: 108px;
  &__row {

  }

  &__cards {
    position: relative;
  }

  &__card {
    min-width: 100%;
    // position: relative;
    @include breakpoint(md) {
    }
    &:hover {
      opacity: 0.5;
    }

    &_active {
    }

    &_mobile {
      display: none;
      position: relative;
      @include breakpoint(md) {
        min-width: 100%;
        display: block;
        position: static;
      }
    }
  }

  &__card1 {
    position: absolute;
@include breakpoint(md) {
position: static;
min-width: 100%;
}
    &_active {
      @include breakpoint(md) {
        display: none;
        position: absolute;
      }
    }
  }

  &__card2 {
    display: none;
    opacity: 0.9;
    @include breakpoint(md) {
      min-width: 100%;
      display: block;
      position: absolute;
      z-index: 5;
      bottom:0;
      height: 194px ;
      @include breakpoint(sm) {
      max-height: 83px;
      }
    }
    
    &_active {
      display: block;
      transform: translate(-5%, -5%);
      @include breakpoint(md) {
        transform: translate(0, 0);
        position: absolute;
      }
    }
  }

  &__card3 {
    display: none;
    position: absolute;
    @include breakpoint(md) {
      z-index: 5;
      display: block;
      bottom:8%;
      left: 4%;
    }
    &_active {
      display: block;
      position: absolute;
      top: 40%;
      right: 50%;
      transform: translate(50%);
      @include breakpoint(md) {
        display: block;
        top: auto;
        right: auto;
        transform: translate(0%);
        bottom:8%;
        left: 4%;
        

      }
    }
  }

  &__card4 {
    display: none;
    position: absolute;
    @include breakpoint(md) {
      display: block;
      top: 83%;
      left:25%;
      z-index: 5;
    }

    &_active {
      display: block;
      top: 70%;
      right: 50%;
      transform: translateX(50%);
      @include breakpoint(xl) {
    
      }
      @include breakpoint(md) {
        transform: translateX(0);
        top: 83%;
        left:25%;
    }
  }

}
}

// / .about-us {
//   display: flex;
//   margin: 0 auto;
//   text-align: center;
//   padding-top: 42px;
//   padding-bottom: 108px;
//   @include breakpoint(xl) {
//     padding-top: 28px;
//     padding-bottom: 60px;
//   }
//   @include breakpoint(md) {
//     display: flex;

//   }
//   &__row {
//     position: relative;
//     @include breakpoint(md) {
//       // flex-direction: column;
//       // align-items: center;
//       // justify-content: center;
//     }
//   }
//   &__pic{
//       margin: 0 auto;
//       width: 100%;

//   }
//   &__card:first-child {
//     position: relative;
//     @include breakpoint(md) {
//     display: none;
//     }
//   }
//   &__card:nth-child(2) {
//     position: absolute;
//     transform: translate(-6%, -6%);
//     opacity: 0.8;
//     @include breakpoint(md) {
//       display: none;
//     }
//     &:hover {
//       display: none;
//     }
//   }
//   &__card:nth-child(3) {
//     position: absolute;
//     width: 31px;
//     height: 37px;
//     top: 40%;
//     left: 12%;
//     z-index: 10;
//     @include breakpoint(xl) {
//       width: 25px;
//       height: 30 px;
//     }
//   }
//   &__card:nth-child(4) {
//     position: absolute;
//     max-width:170px;
//     top: 70%;
//     left: 7%;
//     // z-index: 10;
//     height: 28px;
//     @include breakpoint(xl) {
//       height: 23px;
//       width: 109px;
//     }
//     @include breakpoint(md) {
//       height: 20px;
//       width: 100px;
//     }
//   }
//   &__card_mobile {
//     display: none;
//     @include breakpoint(md) {
//       display: block;
//     }
//   }
// }
