.amazing {
  padding-top: 50px;
  padding-bottom: 20px;
  @include breakpoint(xl) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__head {
    margin-bottom: 10px;

    @include breakpoint(xl) {
      margin-bottom: 40px;
    }
  }
//   &__row{
//     @include breakpoint(md) {
//  flex-direction: column;
//     }
//   }
  &__card {
    margin-bottom: 70px;
    margin-top: 70px;
    display: flex;
    @include breakpoint(xl) {
      margin-bottom: 30px;
      margin-top: 30px;
    }
    @include breakpoint(md) {
justify-content: center;
    }
  }

  &__card-img {
    padding-right: 38px;
    align-self: flex-start;
    width: 70px;
    flex-shrink: 0;
    @include breakpoint(xl) {
      padding-right: 28px;
    }
    @include breakpoint(md) {
      padding-right: 28px;
    }
  }

  &__card-name {
    padding: 10px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    @include breakpoint(xl) {
      font-size: 18px;
    }
  }
  &__card-desc {
    padding: 5px 0;
    font-size: 18px;
    line-height: 21px;
    @include breakpoint(xl) {
      font-size: 14px;
    }
  }
}
