/* aqua Start */
.aqua {
    padding: 0 15px;
    background-color: var(--blue);
  }
  .aqua__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 170px;
  }
  @media (max-width: 1200px) {
    .aqua__cards {
      margin: 0;
    }
  }
  .aqua__card {
    padding: 40px 10px;
    text-align: center;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  .aqua__number {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  @media (max-width: 1200px) {
    .aqua__number {
      font-size: 48px;
      margin-bottom: 15px;
    }
  }
  
  .aqua__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }
  @media (max-width: 1200px) {
    .aqua__text {
      font-weight: 500;
      font-size: 28px;
    }
  }
  /* aqua End */
  