 /* aqua Start */
.aqua {
    padding: 0 15px;
    background-color: var(--blue);
 &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 170px;
  @include breakpoint(xl) {
      margin: 0;
    }
    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__card {
    padding: 40px 10px;
    text-align: center;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    @include breakpoint(md) {
      border-bottom: 1px solid #FFFFFF;
      border-left: none;
      border-right: none;
    }
    &:last-child{
      @include breakpoint(md) {
      
      grid-column-start:1 ;
      grid-column-end:3 ;
      grid-row-start:3 ;
      grid-row-row: 4;
    }
  }
  }

  &__number {
    font-weight: 700;
    font-size: 4.25vw;
    line-height: 1.2;
    margin-bottom: 10px;
  
  @include breakpoint(xl) {
      font-size: 48px;
      margin-bottom: 15px;
    }
  }
  
  &__text {
    font-weight: 700;
    font-size: 1.6vw;
    line-height: 1.2;
  @include breakpoint(xl) {
      font-weight: 500;
      font-size: 28px;
    }
  }
}
  /* aqua End */
  