.blog {
  padding-top: 84px;
  padding-bottom: 88px;

  @include breakpoint(xl) {
    padding-top: 58px;
    padding-bottom: 61px;
  }

  @include breakpoint(sm) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  &__row {
    max-width: calc(1170px + var(--gutter) * 2);
  }

  &__card {
    @include breakpoint(md) {
      margin-bottom: 50px;
    }

    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
    &:last-child {
      @include breakpoint(md) {
        margin-bottom: 0;
      }
    }
  }
  &__head {
    margin-bottom: 42px;
    @include breakpoint(xl) {
      margin-bottom: 36px;
    }
  }

  &__card-head {
    position: relative;
    margin-bottom: 30px;
    @include breakpoint(xl) {
      margin-bottom: 26px;
    }
  }
  &__img-wrap {
    position: relative;
    padding-bottom: 68%;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  &__news-date {
    position: absolute;
    bottom: 9.9%;
    left: -3.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 21.6%;
    height: 31.6%;
    background: var(--blue);
    line-height: 30px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;

    @include breakpoint(xl) {
      font-size: 1.4vw;
    }
    @include breakpoint(sm) {
      font-size: 4.35vw;
      width: 23%;
      left: 0;
    }
  }
  &__news-date span {
    font-weight: 700;
    font-size: 2.4vw;
    margin-bottom: 5px;
    margin-top: 5px;

    @include breakpoint(xl) {
      font-size: 24px;
    }

    @include breakpoint(sm) {
      font-size: 7.5vw;
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  @include breakpoint(xl) {
    font-size: 18px;
  }

  &__card-descr {
    font-size: 18px;
    line-height: 21px;
  }
  @include breakpoint(xl) {
    font-size: 14px;
  }
  &__info-panel {
    display: flex;
    margin-top: 22px;
    flex-wrap: wrap;
  }

  .blog__info-block {
    display: flex;
    align-items: center;
    margin-right: 11%;
    font-size: 13px;
  }

  @include breakpoint(sm) {
    .blog__info-block {
      font-size: 12px;
    }
  }
  .blog__info-block:last-child {
    margin-right: 0;
  }
  .blog__info-icon {
    margin-right: 16px;
    width: 32px;
    flex-shrink: 0;
  }
}
