.header {
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  &_has-bg {
    background: rgb(142, 140, 140);
    z-index: 9;
  }
&__menu-item_active .header__menu-link {
    color: #f4bf87;
    position: relative;
  }
  
&__menu-item_active .header__menu-link::after {
    content: "";
    position: absolute;
    background: currentColor;
    width: 150%;
    height: 1px;
    left: 50%;
    bottom: -5px;
    transform: translatex(-50%);
}
    &__inner {
    display: flex;
    align-items: center;
    @include breakpoint(md) {
      justify-content:space-between ;
    }
  }
  &__logo-img{
    justify-content: start;
  }
  
&__logo-link {
    justify-content: start;
    z-index: 1;
  } 

&__nav {
    margin-left: auto;
       @include breakpoint(md) { 
      display: none;
    }
    &_opened{
      @include breakpoint(md) {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(
        360deg,
        rgba(237, 215, 137, 0.9) 0%,
        rgba(233, 130, 131, 0.9) 100%
      ),
      url("/images/dist/orel.jpg");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
      .header__menu{
        flex-direction: column;
        height: 100%;
        align-items:center ;
        justify-content: center;
      }
      }
    }
}
 &__menu {
    display: flex;
    list-style: none;
  }
  &__menu-item {
    margin-right: 40px;
    position: relative;
    padding: 20px 0;
    @include breakpoint(md) {
    padding-right: 10px;
    margin: 0;
    }
  
  
  &_has-child:hover > .header__submenu {
    display: block;
    @include breakpoint(md) {
      left: 100%;
      top: 0;
    }
    
  }
}
 &__submenu {
    display: none;
    position: absolute;
    border:1px solid #f4bf87;
    padding: 5px 5px;
    top: 70%;
  }
  &__submenu-item {
    padding: 5px 5px;
    font-size: 13px;
  }
  &__submenu-link {
    color: #ffff;
    text-decoration: none;
 &:hover {
    opacity: 0.8;
  }
}
  &__menu-link {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.1vw;
    text-transform: uppercase;
    text-decoration: none;
    @include breakpoint(md) {
    font-size: 13px;
    font-weight: 700;
    }
 &:hover {
    color: #f4bf87;
  }
}
&__burger,
&__burger-close{
  position: absolute;
  right: 0;
  display: none;
  background: transparent;
  border: none;
   @include breakpoint(md) {
  display: block;
  align-items: flex-end;
   }
   &:hover{
     display: block;
     opacity: 0.5;
   }
}

&__burger-close{
   align-items: flex-end;
   display: none;  
   position: absolute;
  right: 0;
  transform: translateX(-20%);
   background:transparent;
   border: none;
&:hover{
    display:block ;
    z-index: 2;
    opacity: 0.5;
 }
 }
}