.work {
  padding-bottom: 84px;
  &-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "item-1 item-2 item_big item-4"
      "item-5 item_active item_big item-7";
    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(5, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr minmax(152px, 1fr);
      grid-template-areas:
        "item-1 item_big"
        "item-5 item_big"
        "item-7 item_big"
        "item-4 item-2"
        "item_active item_active";
    }

    &__item {
      height: auto;
      width: 100%;
      object-fit: cover;
      &:hover {
        opacity: 0.7;
      }

      &_big {
        grid-area: item_big;
      }

      &_active {
        grid-area: item_active;
        position: relative;
      }
    }

    &-1 {
      grid-area: item-1;
    }

    &-2 {
      grid-area: item-2;
    }

    &__img {
      &_big {
        height: 100%;
      }

      &_active {
        position: absolute;
        opacity: 0.9;
        @include breakpoint(md) {
          display: none;
        }
        &:hover {
          opacity: 0;
        }
      }
      &_active0 {
        position: absolute;
        @include breakpoint(md) {
          width: 100%;
          height: 100%;
        }
      }
    }

    &-4 {
      grid-area: item-4;
    }

    &-5 {
      grid-area: item-5;
    }

    &_7 {
      grid-area: item-7;
    }
  }
}
