.container {
  margin: 0 auto;
  max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@for $value from 1 through 12 {
  .col-#{$value} {
    width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    margin: 0 var(--gutter);
  }
  @include breakpoint(xl) {
    .col-xl-#{$value} {
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
      margin: 0 var(--gutter);
    }
  }
  @include breakpoint(lg) {
    .col-lg-#{$value} {
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
      margin: 0 var(--gutter);
    }
  }
  @include breakpoint(md) {
    .col-md-#{$value} {
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
      margin: 0 var(--gutter);
    }
  }

  @include breakpoint(sm) {
    .col-sm-#{$value} {
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
      margin: 0 var(--gutter);
    }
  }
  .offset-#{$value} {
    margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    margin: 0 var(--gutter);
  }

  @include breakpoint(xl) {
    .offset-xl-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
      margin: 0 var(--gutter);
    }
  }
  @include breakpoint(lg) {
    .offset-lg-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
      margin: 0 var(--gutter);
    }
  }
  @include breakpoint(md) {
    .offset-md-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
      margin: 0 var(--gutter);
    }
  }

  @include breakpoint(sm) {
    .offset-sm-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
      margin: 0 var(--gutter);
    }
  }
}

.offset-0 {
  margin-left: var(--gutter);
}
